<!--   <p >home ooo!</p>

<p>{{profile.firstName}} {{profile.lastName}} </p>


<img [src]=linkImage>


<p>{{number}}</p>

<button (click)="inc()" >inc</button>
<button (click)="dec()">deinc</button>

<p [style]="titleStyle">welcome world to sami</p>

<button (click)="red()">redColor</button>
<button (click)="green()">greenColor</button>



<p>{{number}}</p>
<input type="text" [(ngModule)]=number >


<p>{{profile.firstName}} {{profile.lastName}} </p>
<input type="text" [(ngModule)]="profile.firstName" >
<input type="text" [(ngModule)]="profile.lastName" >  ng module !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!







<p>{{ "Hello worlDd" | uppercase }}</p>  Affiche : hello world 
{{ 'AZIZAA' | lowercase }}


<p *ngIf=verif>welcome </p> 


<div *ngFor="let item of dataArray">
    <p>{{item}}</p>
</div> 

<p>{{number}}</p>
<input type="text">


<p [ngClass]="'title'">Sami abdelhafidh</p>


<p [ngStyle]="{'color':style1,'font-size':style2}"> Sami abdelhafidh </p>

-->
<p>{{profile | json}}</p>
{{date | date}}


