<!--   <p >home ooo!</p>

<p>{{profile.firstName}} {{profile.lastName}} </p>


<img [src]=linkImage>


<p>{{number}}</p>

<button (click)="inc()" >inc</button>
<button (click)="dec()">deinc</button>

<p [style]="titleStyle">welcome world to sami</p>

<button (click)="red()">redColor</button>
<button (click)="green()">greenColor</button>


<p>{{number}}</p>
<input type="text" [(ngModule)]=number >


<p>{{profile.firstName}} {{profile.lastName}} </p>
<input type="text" [(ngModule)]="profile.firstName" >
<input type="text" [(ngModule)]="profile.lastName" >  ng module !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!







<p>{{ "Hello worlDd" | uppercase }}</p>  Affiche : hello world 
{{ 'AZIZAA' | lowercase }}


<p *ngIf=verif>welcome </p> 


<div *ngFor="let item of dataArray">
    <p>{{item}}</p>
</div> 

<p>{{number}}</p>
<input type="text">


<p [ngClass]="'title'">Sami abdelhafidh</p>


<p [ngStyle]="{'color':style1,'font-size':style2}"> Sami abdelhafidh </p>



{{date | date}} <br>
{{profile | json}}<br>
<button class="btn btn-primary" (click)="goToView()">View Profil</button>
<button class="btn btn-success" (click)="goToDet()">Details</button>
<br>
<p [style]="titleStyle">welcome world to sami</p>
<button (click)="red()">redColor</button>
<button (click)="green()">greenColor</button>
<br>

<p>{{number}}</p>

<button (click)="inc()" >inc</button>
<button (click)="dec()">deinc</button>

 -->
<form #ff="ngForm" (ngSubmit)="print(ff)">

    <input type="text" #fname="ngModel" ngModel name="fname" placeholder="First Name" required>
    <div class="alert alert-danger" *ngIf="fname.touched && fname.invalid && fname.hasError('required')">
        This input fname is required
    </div>

    <input type="text" #age="ngModel" ngModel name="age" placeholder="Age" required>

    <button type="submit">Print</button>

</form>

<!--
<form #f="ngForm" (ngSubmit)="add(f)">
    <input type="text" name="firstName" placeholder="firstName" #firstname="ngModel" ngModel required minlength="4" maxlength="20">
    <div class="alert alert-danger" *ngIf="firstname.errors?.['required'] && firstname.touched ">
        This firstname input is required
    </div>
    <div class="alert alert-danger" *ngIf="firstname.touched && firstname.errors?.['minlength'] ">
        minlength error minimum 4 caracters
    </div>
    <div class="alert alert-danger" *ngIf="firstname.touched && firstname.errors?.['maxlength']  ">
        maxlength error maximum 20 caracters
    </div>
    <br>
    <input type="text" name="lastName" placeholder="lastName" #lastname="ngModel" ngModel required minlength="4" maxlength="20">
    <br>
    <input type="number" name="age" placeholder="age " ngModel required>
    <div class="alert alert danger" *ngIf="lastname.touched && lastname.errors?.['required']">
        this lastname input is required
    </div>
    <div class="alert alert-danger" *ngIf="lastname.touched && lastname.errors?.['minlength'] ">
        minlength error minimum 4 caracters
    </div>
    <div class="alert alert-danger" *ngIf="lastname.touched && lastname.errors?.['maxlength']  ">
        maxlength error maximum 20 caracters
    </div>
    <br>
    <input type="radio" name="sexe" value="men" ngModel required>
    <button type="submit" [disabled]="f.invalid">Add</button>
</form>
-->



